*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

h1{
    text-align: center;
    color: green;
    padding: 20px;
    font-family:'Courier New', Courier, monospace;
    font-weight:800;
    font-style:unset;
}

nav{
    background-image: linear-gradient(45deg,red,green);
    display: grid;
    place-items: center;
}

nav ul{
    list-style: none;
    font-size: 18px;
    font-weight: 550;
}

nav ul a{
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: #000;
    transition: 0.2s ease-in;
}

nav ul a:hover{
    background-color: green;
    color: white;
}

.items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 30px 20px;
    grid-column-gap:20px ;
    grid-row-gap: 30px;
}

.item img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: .2s ease;
    filter: blur(2px);
    box-shadow: 5px 5px 10px black;
}

.item img:hover{
    transform: scale(1.05);
    filter: none;
}

.item h4{
    padding: 15px;
    text-align:center;
}

.item button{
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: darkgreen;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin: auto;
    transition: .2s all;
    box-shadow: 0 3px 10px black;
}

.item button:hover{
    transform: scale(1.05);
    background-color:green;
}

.order{
    width: 100%;
    height: 600px;
    background-color: darkgreen;
}

.footer{
    width: 100%;
    height: 500px;
    background-color:rgb(51, 51, 51);
}